<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Countries', countries_path %><br>
<%= link_to 'Cities', country_cities_path(:country_id) %><br>
<%= link_to 'Planes', city_aircrafts_path(:city_id) %><br>
<%= link_to 'new user', new_user_path %><br>
